.room{
    height: 500px;
}

#room1_used{
    width: 13rem;
    height: 7rem;
    background-color: hsl(101, 61%, 50%);
    color: white;
    border: 1px  black;
    margin: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px
}

#room1_responsible{
    width: 13rem;
    height: 2rem;
    background-color: hsl(105, 7%, 22%);
    color: white;
    border: 1px  black;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px
}

#room1_number{
    width: 13rem;
    height: 2rem;
    position: relative;
    background-color: gray;
    color: white;
    border: 1px  black;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px
}