*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.room{
    max-width: 1350px;
    max-height: 352px;
}

.room1{
    margin: 0 auto;
    position: relative;
    right: 13%;
}

#room1_used{
    width: 260px;
    height: 200px;
    margin-top: 26px;
    background-color: hsl(101, 61%, 50%);
    color: white;
    border: 1px  black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px
    
}

#room1_responsible{
    width: 260px;
    height: 50px;
    margin-top: 26px;
    
    background-color: hsl(105, 7%, 22%);
    color: white;
    border: 1px  black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px
}

#room_number{
    width: 150px;
    height: 50px;
    margin-top: 26px;
    
    background-color: gray;
    color: white;
    border: 1px  black;
    justify-content: center;
    align-items: center;
    border-radius: 50px
}