*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kanit', sans-serif;
    font-size: inherit;
}
.container{
    width: 100%;
    height: 1200px;
    text-align: center;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(203, 255, 125);
    color: white;
}
section{
    position: relative;
    width: 55%;
    height: 1000px;
    float: left;
    background-color: rgb(10, 10, 10);
}

aside{
    position: relative;
    width: 45%;
    height: 1000px;
    float: left;
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.clearfix{
    clear:both;
}
footer{
    height: 100px;
    width: 100%;
    background-color: tomato;
}
.room{
    max-width: 1920px;
    max-height: 1080px;
}

.room1{
    margin: 0 auto;
    position: relative;
    top: 48px
}

#room1_used{
    width: 304px;
    height: 276px;
    margin-top: 49px;
    background:linear-gradient(to bottom left, #13f513, #f9d423);
    color: white;
    font-size: 68px;
    border: 1px  black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 10% ;
    box-shadow: 15px 0px 10px 10px rgba(0, 0,0, 0.5);
    
}
#room1_used:hover{
    
    box-shadow: 30px 0px 20px 20px rgba(0, 0,0, 0.5);
    animation: rotate 15s linear infinite;
    transform: translateY(-10px);
}

#room1_responsible{

    width: 260px;
    height: 50px;
    top:139px;
    background-color: rgb(44, 44, 44);
    box-shadow: 9px -5px 5px 3px rgb(0 0 0 / 50%);
    color: white;
    font-size: 20px;
    border: 1px  black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    
    
}

  
#room1_responsible:hover{
    background-color: rgb(16, 17, 16);
    width: 280px;
    height: 60px;
}


.outer-circle {
    margin: 0 auto;
    position: relative;
    height: 144px;
    width: 143.5px;
    background: linear-gradient(60deg ,#ff1414, #fffb21);
    border-radius: 50%;
    animation: rotate 2.0s linear infinite;
  }
.outer-circle span {
    margin: 0 auto;
    position: absolute;
    height: 145px;
    width: 145px;
    right: 0px;
    bottom: 2.1px;
    background: linear-gradient(60deg, #ff1414, #eeff07);
    border-radius: 50%;
  }

#room1_number{
    position: relative;
    top: 5.9px;
    left:-0.3px;
    width: 130px;
    height: 130px;
    margin-top: 50px;
    background-color: hsl(0, 0%, 13%);
    color: white;
    border: 1px  black;
    display: flex;
    font-size: 29px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}
span:nth-child(1) {
    filter: blur(5px);
  }
  
span:nth-child(2) {
    filter: blur(20px);
}
  
span:nth-child(3) {
    filter: blur(25px);
}
  
span:nth-child(4) {
    filter: blur(150px);
}
@keyframes rotate {
    0% {
    filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

#room1_number:hover{
    background: linear-gradient(60deg ,#ff1414, #fffb21);
    border-radius: 50%;
    animation: rotate 500s linear infinite;
}

#input{
    margin: 0 auto;
    position: relative;
    top: 100px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.typingbox{
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    font-size: inherit;
    text-align: center;
    background-color: rgb(39, 39, 39);
    border-radius: 3px;
    border: 1px solid white ;
    color:white
    
}
.typingbox:hover{
    border:2px solid white;
}

.typingbox:start{
    border:2px solid white;
}

.sendbox{
    width: 71px;
    height: 30px;
    position: relative;
    bottom: 2px;
    background-color: rgb(235, 94, 13);
    box-shadow: 0 9px rgb(7, 7, 7);
    border:2px white;
    font-size: 19px;
    border-radius: 3px;
    color: white;

}

.sendbox:hover{
    background-color: rgb(177, 59, 4);
    cursor: pointer;
    height: 30px;
}

.sendbox:active{
    transform: translateY(4px);
    box-shadow: 0 5px rgb(7, 7, 7);
}

.chartback{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    top: 324px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 2% 32%;
    background: linear-gradient(to bottom left, #ff8737, #f9d423);
    box-shadow: 10px 11px 10px 4px rgb(0 0 0);
    animation: rotate 30s linear infinite;
    
    
}


.chartback:hover{
    box-shadow:20px 20px 9px 5px rgb(0 0 0);
    transform: translateY(-10px);
    
}
.chart{
    margin: 0 auto;
    width: 400px;
    height: 300px;
    /* left:41px;
    top:50px; */
}
